# Configuration of Hugo
# Custom theme for Sara Weston's professional website

# Website name
title: Sara Weston
# Website URL
baseURL: 'https://example.com/'

# Use custom theme
theme: weston-custom

############################
## LANGUAGE
############################

defaultContentLanguage: en
hasCJKLanguage: false
defaultContentLanguageInSubdir: false
removePathAccents: true

############################
## ADVANCED
############################

build:
  writeStats: true
enableGitInfo: false
summaryLength: 30
pagination:
  pagerSize: 1000
enableEmoji: true
enableRobotsTXT: true
footnotereturnlinkcontents: <sup>^</sup>
ignoreFiles: [\.ipynb$, .ipynb_checkpoints$, \.Rmd$, \.Rmarkdown$, _cache$]
permalinks:
  authors: '/author/:slug/'
  post: '/blog/:slug/'
disableAliases: true
outputs:
  home: [HTML, RSS]
  section: [HTML, RSS]
imaging:
  resampleFilter: lanczos
  quality: 80
  anchor: smart
timeout: 600000
taxonomies:
  author: authors
  tag: tags
  publication_type: publication_types
markup:
  _merge: deep
  highlight:
    lineNos: false
    style: monokai
security:
  _merge: deep
sitemap:
  _merge: deep

# Custom params for the theme
params:
  description: "Behavioral scientist turning data into decisions. Associate Professor at the University of Oregon."
  author: "Sara Weston"
  appearance:
    mode: light
